@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  padding: 50px;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  background-color: #212121;
}
.h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#calculator {
  width: 332px;
  padding: 10px;
  margin: auto;
  background-color: #f2f0eb;
  font-size: 1.6rem;
  border: solid 10px #b5bab6;
}

#display {
  display: grid;
  border: solid 2px #b5bab6;
  height: 65px;
  color: var(--black);
}

#display input {
  display: block;
  text-align: right;
  border: none;
  padding: 8px 7px;
  background: none;
  font-size: 1.3rem;
  color: #7e827f;
}

#display output {
  display: block;
  text-align: right;
  padding: 8px 5px;
  background: none;
  font-weight: bold;
  font-size: 2rem;
}

#keypad {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding-top: 10px;
}

#keypad button {
  width: 60px;
  height: 60px;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  background-color: #e1e3e1;
}

#keypad button:hover {
  background-color: #b5bab6;
}

#keypad button.operator {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #7e827f;
  color: #f2f0eb;
}

#keypad button.operator:hover {
  background-color: #b1a9a7;
}
